<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MasterTeacherApp.Properties.Settings.Work_Head_TeacherConnectionString"
            connectionString="Data Source=DESKTOP-OVFICRT;Initial Catalog=Work_Head_Teacher;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MasterTeacherApp.Properties.Settings.Work_Head_TeacherConnectionString1"
            connectionString="Data Source=DESKTOP-OVFICRT;Initial Catalog=Work_Head_Teacher;User ID=sa;Password=password123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>